<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Adicionar Receita</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list lines="full">
      <ion-item>
        <ion-input type="text" placeholder="Nome" [(ngModel)]="receita.nome"></ion-input>
      </ion-item>
      <ion-item  *ngFor="let ingrediente of receita.ingredientes; let i = index;  trackBy: noRender" >
        <ion-input type="text" placeholder="Ingrediente {{ i+1 }}" [(ngModel)]="receita.ingredientes[i]"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Imagem" [(ngModel)]="receita.imagem"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="addInput()">Adicionar ingrediente</ion-button>
    <ion-button expand="full" (click)="removeInput()">Remover ingrediente</ion-button>
    <ion-button expand="full" (click)="addReceita()" class="salvar">Salvar receita</ion-button>
  </ion-content>