<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Atualizar Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-label [innerHTML]="receita.nome"></ion-label>
    </ion-item>
    <ion-item *ngFor="let ingrediente of inputIngredientes; let i = index" >
      <ion-label [innerHTML]="receita.ingredientes[i]" ></ion-label>
    </ion-item>
  </ion-list>
</ion-content>