<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Receita Detalhada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{receita.imagem}}" alt="{{receita.nome}}"/>
  <div class="container">
    <ion-button (click)="toggleFavorito()">{{textoToggleFavorito}}</ion-button>
    <h2>{{receita.nome}}</h2>
    <h3>Ingredientes:</h3>
    <ol>
      <li *ngFor="let ingrediente of ingredientes">
        {{ingrediente}}
      </li>
    </ol>
    <h3>Modo de Preparo:</h3>
    <ol>
      <li *ngFor="let passo of preparo">
        {{passo}}
      </li>
    </ol>
    <ion-button (click)="edit()" *ngIf="admin">Editar</ion-button>
  </div>
</ion-content>