<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content class="menu">
        <div>
          <h1>EasyMeal</h1>
        </div>
        <ion-list lines="none"  class="my-ion-list"> 
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon" color="light"></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
