form {
	width: 100%;
	min-height: 100%;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('../../../assets/imagens/back.jpg') bottom / cover no-repeat;

	ion-item {
		max-width: 300px;
		width: 100%;
		--background: transparent;
		--color: #000;
		font-size: 20px;
		transition: background-color 0.3s;

		&.item-has-focus {
			background-color: rgba(255, 255, 255, 0.3);
		}
	}

	ion-button {
		margin-top: 10px;
	}
}
