ion-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-background-page {
  padding: 20px;

  ion-card { 
    margin: 0 0 20px 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ion-card-header ion-card-title {
    font-size: 22px;
  }
}