<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recomendações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card-background-page">
    <ion-card *ngFor="let receita of receitas">
      <img src="{{ receita.imagem }}">
        <ion-card-header>
          <ion-card-title>{{ receita.nome }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ receita.descricao }}</ion-card-content>
    </ion-card>
  </div>
</ion-content>