.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-menu{
   --ion-background-color: var(--easymeal-background-color);
  //--ion-background-color: #c32d2d;

  ion-item{
    color: #fff;
    font-size:22px;
  }

  ion-icon{
    font-size: 30px;
  }
}

ion-list{
  --ion-background-color:transparent;
}

div{
  padding-top:30px;
  padding-bottom:20px;  
}

p{
  font-size: 27px;
  text-align: center;
  color: #fff;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    position: absolute;
    top: 36%;
    width: 100%;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}