<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Despensa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Item -->
  <ion-item>
    <ion-label>
      Batata
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Beterraba
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Feijão
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Mamão
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Morango
    </ion-label>
  </ion-item>
</ion-content>
