// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

img {
    display: block;
}

ion-toolbar {
  --ion-background-color: var(--easymeal-background-color);
  color: #FFF;
}

ion-menu-button { 
  color: #FFF;
}

ion-menu {
    --ion-background-color: var(--easymeal-background-color);
    //--ion-background-color: #c32d2d;

    h1 {
        font-size: 27px;
        padding: 20px;
        margin: 0;
        color: #fff;
    }

    ion-list{
        --ion-background-color:transparent;
    }

    ion-item {
        color: #fff;
        font-size:22px;
    }

    ion-icon {
        font-size: 30px;
    }
}