<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Atualizar Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="receita.nome" value="{{receita.nome}}"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-input type="text" [(ngModel)]="receita.imagem" value="{{receita.imagem}}"></ion-input>
    </ion-item>
  <ng-container *ngFor="let tipo of tipos">
    <h2>{{tipo.title}}</h2>
    <ion-list lines="full">
      <ion-item *ngFor="let item of receita[tipo.name]; let i = index;  trackBy: noRender" >
        <ion-input type="text" placeholder="{{tipo.placeholder}} {{i+1}}" [(ngModel)]="receita[tipo.name][i]" ></ion-input>
        <ion-button (click)="removeInput(tipo.name,i)">Remover</ion-button>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="addInput(tipo.name)">Adicionar {{tipo.placeholder}}</ion-button>
  </ng-container>
  <ion-button expand="full" (click)="updateReceita()" class="salvar">Salvar</ion-button>
  <ion-button expand="full" (click)="removeReceita()">Remover Receita</ion-button>
</ion-content>