<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://img.stpu.com.br/?img=https://s3.amazonaws.com/pu-mgr/default/a0R0f00000xsvI6EAI/5ba38e95e4b0e8a409971a79.jpg&w=620&h=400"></ion-img>
      <ion-card-header>
        <ion-card-title>EasyMeal</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/components/">
        <ion-label>Recursos do Ionic 4 <br><a>https://ionicframework.com/docs/components/</a></ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/v3/components/">
        <ion-label>Recursos do Ionic 3 <br><a>https://ionicframework.com/docs/components/</a></ion-label>
      </ion-item>
    </ion-list>
</ion-content>
