.container{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-bottom: 30px;
        width: 150px;
        height: 150px;
    }

    div {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-item {
                --background: transparent;
                --color: #000;
                font-size: 20px;
            }

            ion-button {
                margin-top: 10px;
            }
        }
    }

}

    .back{
        background-color: aqua;
    }
    .loginn{
        text-align: center;
        
    }
    ion-content{
        --background: url('../../../assets/imagens/back.jpg') center / cover no-repeat;
        
    }
   